
<%=
 link_to('link to welcome', 'http://0.0.0.0:3000/welcome')
%>

<br/>

<%=
 link_to('link to welcome, rel', '../../welcome')
%>

<br/>

<%=
 link_to('link to welcome, long rel', '/welcome', class: 'funlink')
%>

<br/>

<a href="/welcome" class="funlink">Fun link</a>